@font-face {
    font-family: 'Kitten';
    src: url('fonts/Kitten.otf');
}

:root {
    --darkest-color: #022b3a;
    --dark-color: #1f7a8c;
    --mid-color: #bfdbf7;
    --light-color: #e1e5f2;
    --lightest-color: #ffffff;
    --accent-color: #c54bbc;
    --dark-accent-color: #8b008b;
    --white: #ffffff;

    --header-title-fonts: 'Kitten', 'Candara', 'Georgia', serif;
    --title-fonts: 'Candara', 'Georgia', 'Garamond', serif;
    --main-fonts: 'Helvetica', sans-serif;

    --margin-padding: 20px;
    --header-height: 110px;
}

body {
    background-color: var(--light-color);
    color: var(--darkest-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--main-fonts);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-fonts);
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

a {
    color: var(--accent-color);
}

a:visited {
    color: var(--dark-accent-color);
}


header {
    background-color: var(--dark-color);
    color: var(--white);
    width: 100%;
    position: sticky;
    top: 0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

#title-area {
    vertical-align: middle;
    justify-content: center;
    padding-left: var(--margin-padding);
    padding-right: var(--margin-padding);
    width: 400px;
}

header a {
    color: var(--white);
    text-decoration: none;
}

header a:visited {
    color: var(--white);
    text-decoration: none;
}

#current-page {
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

header h1 {
    width: 100%;
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
    font-family: var(--header-title-fonts);
    letter-spacing: 2px;
}

header p {
    width: 100%;
    margin-top: -26px;
    font-size: 20px;
    text-align: center;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style-type: none;
    height: 100%;
    margin-top: 0;
    padding-right: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
}

header nav ul li {
    padding-left: 30px;

}

header a {
    color: var(--white);
}

main {
    padding: var(--margin-padding);
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex: 5;
}

section {
    margin: var(--margin-padding);
    padding: var(--margin-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
    background-color: rgba(250, 250, 250, 0.7);
    opacity: 80%;
    z-index: 2;
    border: 2px dashed var(--dark-color);
}

.single {
    width: 50%;
}

article {
    padding: var(--margin-padding);

}

#blog {
    width: 70%;
}

#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
}

#newsletter h2 {
    margin-bottom: 15px;
}

#newsletter p {
    margin-top: 0px;
    margin-bottom: 15px;
}

.blog-post {
    border-top: 2px dotted var(--dark-color);
    padding-top: 0;
    text-align: left;
}

.post-title {
    margin-bottom: 5px;
}

.date-author {
    display: flex;
}

.date-author span {
    padding-left: 10px;
    padding-right: 10px;
}

.post-image {
    max-width: 350px;
    float: left;
    padding: var(--margin-padding);
    margin: 0;
    padding-left: 0;
    padding-bottom: 5px;
}

.post-image figcaption {
    text-align: center;
    font-style: italic;
}

.post-image img {
    width: 100%;
}

button {
    padding: 10px;
    background: var(--accent-color);
    border: 2px solid var(--dark-accent-color);
    color: var(--white);
    font-size: 17px;
    letter-spacing: 1px;
    margin: 15px;
    width: 120px;
    text-align: center;
}

button:hover {
    background: var(--dark-accent-color)
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item {
    width: 300px;
    margin-bottom: 10px;
}

.about-image {
    width: 300px;
    align-self: center;
}

#about-list {
    align-self: center;
}

#about-list li {
    list-style-type: square;
    padding: 0;
    text-align: left;
}

footer {
    margin: 0 40px 40px 40px;
    text-align: center;
    color: var(--darkest-color);
}